#logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

form {
    text-align: center;
}

#searchbar {
    width: 500px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #e2e2e2;
    padding-left:50px;
    padding-right: 50px;
    
}

#searchbar:focus {
    outline: none;
}

.buttons{
    margin-top: 30px;

}

/*  
button{
    border-width: 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: arial,sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

}
*/
#left-button {
    margin-right: 5px;
    border-width: 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: arial,sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}

#right-button {
    margin-left: 5px;
    border-width: 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: arial,sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}